.form-styles{
    .layout{
        height: 100vh;
        background-color: #CBD0DE;
    }
    .box{
        background-color: white;
        min-height: 500px;
        border-radius: 15px;
        box-shadow: 10px 10px 42px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 42px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 42px -7px rgba(0,0,0,0.75);
    }
    .big-label{
        margin-top:6px;
        font-size: 15px;
        font-weight: 600;
    }
}