@import 'formPage.scss';
@import 'ordersPage.scss';

html, body{
    //height:100%!important;
    font-family: 'Alata', sans-serif!important;
}

.menu-profile-icon{
    font-size: 40px;
}

.menu-icon{
    font-size: 30px;
    color: #4E59A7;
}

.menu-links{
    text-decoration: none;
    color: #4E59A7;
    font-size: 24px;
    position: relative;
    top: 4px;
    left: 10px;
}

.menu-links:hover{
    color: #373f81;
}

.menu-link-container{
    line-height: 50px;
    padding-left: 20px;
    padding-bottom: 5px;
    border-radius: 25px;
}
.menu-link-container:hover{
    transition-duration: 300ms;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.box{
    background-color: white;
    min-height: 20px;
    border: 1px solid rgba(233, 233, 233, 0.719);
    border-radius: 10px;

    box-shadow: 4px 4px 18px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 18px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 18px -12px rgba(0,0,0,0.75);
}

.view-icon{
    color: silver;
    cursor: pointer;
    font-size: 15px;
}
.view-icon:hover{
    transition-duration: 200ms;
    color: #373f81;
}

.edit-icon{
    color: silver;
    cursor: pointer;
    font-size: 15px;
}
.edit-icon:hover{
    transition-duration: 200ms;
    color: #c08d40;
}

.delete-icon{
    color: silver;
    cursor: pointer;
    font-size: 14px;
}
.delete-icon:hover{
    transition-duration: 200ms;
    color: #d34329;
    
}
.vertical-seperator{
    color: silver;
    font-size: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
.header{
    background-color: #F7F8FA;
    border-bottom: 1px solid #dadadab6;
    min-height: 55px;
    color: white;
    position: absolute;
    width: 100%;
}
.drawer-icon{
    transition-duration: 200ms;
    color: #4E59A7;
    font-size: 30px;
    margin-top: 12px;
    margin-left: 10px;
}

.drawer-icon:hover{
    transition-duration: 200ms;
    color: #4E59A7;
    cursor: pointer;
    font-size: 40px;
}

.heading{
    color: #6B7B9A;
    font-weight: 800;
    font-size: 20px;
}
.heading-font-thin{
    color: #6B7B9A;
    font-weight: 100;
    font-size: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
}
.heading-font{
    color: #6B7B9A;
    font-weight: 800;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 11px;
}
.medium-font{
    color: #6B7B9A;
    font-weight: 800;
    font-size: 16px;
}
.small-font{
    color: #6B7B9A;
    font-weight: 500;
    font-size: 12px;
}
.vertical-center-table>tr>td{
    padding-bottom: 0px;
    padding-top: 12px;
}
.purple-btn{
    background-color: #4E59A7;
    border: none;
    border-radius: 35px;
    padding: 10px 30px 10px 30px;
    color: white;

    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
}
.purple-btn:hover{
    transition-duration: 300ms;
    background-color: #353c70;
}
.purple-btn:disabled{
    background-color: #4e58a759;
}
body > div > div > div.ant-modal-wrap > div > div.ant-modal-content > div > div > div > div.m-3.col > div > div.d-flex.my-3.align-items-center.justify-content-center > button.btn.btn-dark.btn-sm.mt-1{
    background-color: #4E59A7;
    border: none;
    border-radius: 35px;
    padding: 10px 30px 10px 30px;
    color: white;

    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
}
body > div > div > div.ant-modal-wrap > div > div.ant-modal-content > div > div > div > div.m-3.col > div.d-flex.my-3.align-items-center.justify-content-center > button{
    background-color: #4E59A7;
    border: none;
    border-radius: 35px;
    padding: 10px 30px 10px 30px;
    color: white;

    box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -15px rgba(0,0,0,0.75);
}

.pending-icon{
    color: silver;
    font-size: 20px;
    padding-bottom: 4px;
}
.pending-text{
    color: silver;
}

.pipeline-icon{
    color: #c08d40;
    font-size: 20px;
    padding-bottom: 4px;
}
.pipeline-text{
    color: #c08d40;
}

.complete-icon{
    color: green;
    font-size: 20px;
    padding-bottom: 4px;
}
.complete-text{
    color: green;
}


.loader-spinner {
    position: absolute;
    top:40%;
    left: 48%;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }